.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 165, 0, 0.5);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    width: 400px;
    height: 600px;
    background-color: wheat;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}