%body {
    margin: 0;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    color: $--title-color;
    background-color: $--primary-white-color;
}

%linked {
    display: block;
    font-family: $font-family;
    text-decoration: none;
    cursor: pointer;
}

%break {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}